.container {
  position: absolute;
  background: url("https://www.landrover.com/Images/GWS_L538_18MY_012_GLHD_TABLET_Device-Desktop_1600x900_281-346857_1600x900.jpg?v=17");
  bottom: 24px;
  top: 64px;
  left: 24px;
  right: 24px;
  margin: 0;
  background-size: cover;
  max-width: 1320px;
}

.make-order {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  width: 350px;
  left: 12px;
  top: 12px;
  padding: 12px;
}

.make-order ul {
  list-style: none;
  text-align: left;
  padding-left: 4px !important;
}

.make-order ul li {
  background: rgba(255, 255, 255, 0.6);
  padding: 4px 0 4px 4px;
  margin: 4px 0;
}

h1 {
  font-size: 2em;
  padding-bottom: 8px;
}

h2 {
  font-size: 1.2em;
  padding-bottom: 8px;
}

.product-container {
  position: absolute;
  width: 800px;
  right: 0;
  padding: 12px;
  display: flex;
}

.product-container .product {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  padding: 12px;
  width: 400px;
  height: 300px;
}

.product-container .product:first-child {
  margin-right: 24px;
}

.product img {
  max-width: 250px;
  margin-bottom: 16px;
}

.product h1 {
  font-size: 1.5em;
  display: inline-block;
  top: 0;
}

.product .select-order {
  display: inline-block;
  position: absolute;
  text-align: center;
  bottom: 12px;
  left: 12px;
  padding: 8px;
  background: #0c121c;
  color: #e4e8e8;
  width: 100px;
  opacity: 1;
  -webkit-transition: opacity .300s;
  transition: opacity .300s;
}

.product .select-order:hover:not(:disabled) {
  text-decoration: none;
  opacity: .87;
}

.btn.btn-primary {
  background: #0c121c;
  color: #e4e8e8;
  border: none;
  border-radius: 0;
  margin-left: 4px;
  transition: opacity .300s;
}

.btn.btn-primary:focus,
.btn.btn-primary:active {
  box-shadow: none;
  outline: none;
  border: none;
  background: #0c121c;
}

.btn.btn-primary:hover:not(:disabled) {
  text-decoration: none;
  opacity: .87;
}
