<app-navbar></app-navbar>

<div class="container">
  <div class="make-order">
    <form>
      <h1>Build your car</h1>
      <ul>
        <h2>
          Products selected
        </h2>
        <li>
          RANGE ROVER EVOQUE
        </li>
        <li>
          RANGE ROVER EVOQUE
        </li>
      </ul>
      <button class="btn btn-primary">ORDER NOW</button>
    </form>
  </div>
  <div class="product-container">
    <div class="product">
      <img src="https://assets.config.landrover.com/lr/jdx/l538/k18/whlbse_l538_k18_a-5door_gl.png?v=3i1gt">
      <h1>RANGE ROVER EVOQUE</h1>
      <a href="">SELECT</a>
    </div>
    <div class="product">
      <img src="https://assets.config.landrover.com/lr/jdx/l538/k18/whlbse_l538_k18_a-convertible_gl.png?v=3i1gt">
      <h1>RANGE ROVER EVOQUE CONVERTIBLE</h1>
      <a href="">SELECT</a>
    </div>
  </div>
</div>
